* {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.footer {
  color: #e9e9e9;
}


.content {
  text-align: center;
  display: flex;
  justify-content: center;
}

body {
  background-color: #FFF;
}

.email {
  font-size: .85rem;
}

.nav1 {
  position: sticky;
  width: 100%;
  height: 50px;
}

.nav2 {
  position: sticky;
  /* margin-top: calc(100vh); */
  width: 100%;
  height: 50px;
}