* {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.footer {
  color: #e9e9e9;
}

.home {
  min-height: calc(200vh);
}

.Card2 {
  padding: 20px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(237, 237, 237); */
}

.content {
  text-align: center;
  display: flex;
  justify-content: center;
}

body {
  background-color: #FFF;
}

.email {
  font-size: .85rem;
}

.w-15 {
  width: 15% !important;
}

/* .url1:hover {
  transition: 0.3s;
  color: black;
  background-color: white;
  font-weight: 600;
}

.url1:active {
  box-shadow: 0 0px 6px rgb(156, 52, 194);
  transform: translateY(4px);
} */